<div>
    <ul>
        <li>{{processData.cwd}}</li>
        <li> {{processData.memoryUsage}} </li>
        <li> {{processData.pid}} </li>
        <li> {{processData.version}} </li>
        <li> {{processData.title}} </li>
        <li> {{processData.platform}} </li>
        <li>Numero de procesadores: {{processData.numCPUs}} </li>
    </ul>
</div>