<div class="profile">
    <h1> Informacion personal</h1>
    <h2>Nombre completo</h2>

    <p>{{nombre}}. <button class="btn"> {{#if nombre}} update {{else}}agregar {{/if}} </button></p>
    <h2> Genero</h2>
    {{!-- 
    <p> {{genero}} </p>
    <h2> email</h2>
    <p> {{mail}}. <button class="btn"> {{#unless mail}} agregar {{else}} update </button> </p>
    <h2>Contraseña</h2>
    <p> {{Contraseña}} <button class="btn"> {{#if nombre}} update {{else}} agregar </button> </p> --}}
</div>